<mat-card-content class="outer-card" *ngIf="char">

  <div id="img">
    <img mat-card-image src="{{ image['img'] }}" alt="">
  </div>

  <mat-list class="list-group">
    <mat-list-item class="item" style="height: 34px;">Name: {{ char.name }}</mat-list-item>
    <mat-list-item class="item" style="height: 34px;">Gender: {{ char.gender }}</mat-list-item>
    <mat-list-item class="item" style="height: 34px;">Species: {{ species }}</mat-list-item>
    <mat-list-item class="item" style="height: 34px;">Height: {{ char.height }}</mat-list-item>
    <mat-list-item class="item" style="height: 34px;">Birth Year: {{ char.birth_year }}</mat-list-item>
    <mat-list-item class="item" style="height: 34px;">Homeworld: {{ homeworld }}</mat-list-item>
  </mat-list>
</mat-card-content>