<header *ngIf="currentCharacters">
  <h1 *ngIf="currentCharacters">Star Wars</h1>
</header>

<div id="container">
  <app-search [characters]="characters" [currentCharacters]="currentCharacters"
    (characterEvent)="recieveCharacter($event)" (resetEvent)="reset()"></app-search>

  <div id="card-container" *ngIf="currentCharacters">
    <app-character-card *ngFor="let char of currentCharacters" [char]="char" class='character'></app-character-card>
  </div>

  <app-pagination [totalCharacters]="totalCharacters" [charactersPerPage]="charactersPerPage"
    (pageEvent)="recievePage($event)"></app-pagination>
</div>

<div id="loading" *ngIf="!currentCharacters">
  <mat-spinner></mat-spinner>
</div>

<router-outlet></router-outlet>